@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    display: flex;
    flex-direction: column;
    justify-self: center;
    background: #eaeef0;
    font-size: 1.4rem;
    font-family: Roboto;
    min-width: 1200px;
    max-width: 2400px;
    margin: 20px 40px 20px 40px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
}